@property --countvalue {
    syntax: "<integer>";
    initial-value: 2;
    inherits: false;
}


h2 {
    animation: animateValue 3s linear 0.2s 1 forwards;

    counter-reset: counterVal var(--countvalue);
}



@keyframes animateValue {
    0% {
        --countValue: 0;
    }
    100% {
        --countValue: 100;
    }
}

h2::after {
    content: counter(counterVal);
}